/* styles.css */

.image-column {
    padding-top: 20px; /* Adjust the padding as needed */
}

.img-fluid {
    max-height: 300px; /* Adjust the maximum height of the image */
    width: auto; /* Ensure the width adjusts proportionally */
    margin-top: 20px; /* Add some space on top of the image */
}
